VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_EXPLORER_BASE_URL=https://testnet.bscscan.com
VITE_EXPLORER_BASE_MAP=1=https://etherscan.io,11155111=https://sepolia.etherscan.io,56=https://bscscan.com,97=https://testnet.bscscan.com,137=https://polygonscan.com,80002=https://amoy.polygonscan.com,42161=https://arbiscan.io,421614=https://sepolia.arbiscan.io,10=https://optimistic.etherscan.io,11155420=https://sepolia-optimism.etherscan.io,8453=https://basescan.org,84532=https://sepolia.basescan.org
VITE_FACTORY_ADDRESS=0x0000000000000000000000000000000000000000
VITE_DEFAULT_CHAIN_ID=97